*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --size: 6rem;
  --height: 10px;
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  /* border: 10px solid green; */
  display: grid;
  justify-content: center;
  align-content: center;
  /* justify-items: flex-end;
  align-items: flex-end; */
  grid-template-columns: repeat(3, auto);
}

.cell {
  /* background-color: black; */
  border: 5px solid black;
  border-radius: 10%;
  width: calc(var(--size) * 0.95);
  height: calc(var(--size) * 0.95);
  margin: calc(var(--size) * 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cell:hover {
  /* box-shadow: 10px 10px #888; */
  background-color: bisque;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
  content: "";
  width: calc(var(--size) * 0.15);
  height: calc(var(--size) * 0.8);
  background-color: black;
  position: absolute;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
}

.cell.x::after {
  transform: rotate(45deg);
}

.cell.x::before {
  transform: rotate(-45deg);
}

.cell.o::before {
  content: "";
  width: calc(var(--size) * 0.75);
  height: calc(var(--size) * 0.75);
  border-radius: 100%;
  background-color: black;
  position: absolute;
}

.cell.o::after {
  content: "";
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.55);
  border-radius: 100%;
  background-color: white;
  position: absolute;
}
